<%- include('./partials/header') %>

<div class="container text-center center-form">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12 text-light">
            <form action="/create" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" autocomplete="off"
                        placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="image">ImageURL</label>
                    <input type="text" name="image" id="image" class="form-control" autocomplete="off"
                        placeholder="Enter ImageURL">
                </div>
                <div class="form-group">
                    <label for="info">Info</label>
                    <textarea name="info" id="info" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="ui inverted green button">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>